<app-header></app-header>
<div id="overlay" (click)="off()">
  <div id="text">
    <a class="asdhaishgda" (click)="borrow()" style="margin-right: 23%;
    margin-left: -19%;">BORROW</a>
    <a class="asdsadYY2" (click)="slend()">LEND</a>
  </div>
</div>


<div style="text-align: center;">
  <!-- <input [checked]="test" type="checkbox"> -->
  <p style="padding: 10px;
  text-align: right;
  margin-right: 4%;
  margin-top: 1%;
  line-height: 32px;
  word-spacing: 8px;">Borrow
    <label class="switch">
      <input type="checkbox" [ngModel]="test" name="type" checked (change)="checkClicked(test)">
      <span class="slider round"></span>
    </label>
    Lend
  </p>


  <div class="row" style="margin: 40px;margin-top: 5px;" *ngIf="t_lend">
    <div class="column" *ngFor="let d of data">
      <div class="bordetyy" style="border: 1px solid #c1e1ff !important;">
        <img src="../assets/1.png" style="width: 240px;">
        <p style="margin-bottom: 0;
        text-align: left;
        padding-left: 24px;
        font-weight: 600;">{{d.commodity}} <span style="float: right;
    padding-right: 20px;color: grey;">{{d.quantity}} KGs</span> </p>
        <p style="margin-bottom: 10px;
        text-align: left;
        padding-left: 24px;
        line-height: 20px;
        margin-top: 10px;
        font-size: 13px;"><strong>Value</strong> <br>{{d.ethprice}} ETH (${{d.price}})</p>

        <!-- <p style="margin-bottom: 10px;">Location : {{d.location}}</p> -->

        <p class="lenddBtn" (click)="showWhrDetails(d)">LEND</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 40px;margin-top: 5px;" *ngIf="t_borrow">
    <!-- <div class="col-12">
      <p style="font-size: 50px;
      line-height: 55px;
      color: #0089FF;
      margin-bottom: 35px;">It seems you don’t have<br> any commodities</p>
    </div>
    <div class="row" style="margin: 40px;
    margin-top: 5px;
    width: 100%;" *ngIf="t_borrow">
      <div class="col-6">
        <p style="color: #0089FF;
        font-size: 28px;text-align: center;
        line-height: 36px;">But you can lend against real assets from anywhere in the world</p>
      </div>
      <div class="col-6">
        <p style="width: 200px;
        background-color: #E2F0FE;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        cursor : pointer;margin: 0 auto;
        color: #689BEB;" (click)="lendddd()">LEND NOW</p>
      </div>
    </div> -->

    <div class="column" *ngFor="let d of data">
      <div class="bordetyy" style="border: 1px solid #fdd2a8 !important;">
        <img src="../assets/1.png" style="width: 240px;">
        <p style="margin-bottom: 0;
        text-align: left;
        padding-left: 24px;
        font-weight: 600;">{{d.commodity}} <span style="float: right;
    padding-right: 20px;color: grey;">{{d.quantity}} KGs</span> </p>
        <p style="margin-bottom: 10px;
        text-align: left;
        padding-left: 24px;
        line-height: 20px;
        margin-top: 10px;
        font-size: 13px;"><strong>Value</strong> <br>{{d.ethprice}} ETH (${{d.price}})</p>
        <p class="borrowbtn" (click)="applyForLoan(d)">Apply For Loan</p>

      </div>
    </div>
  </div>

  <div class="modal fade" id="msg">
    <div class="modal-dialog" style="margin-top: 8%;">
      <div class="modal-content" style="border-radius: 39px;">
        <div class="modal-body asssdU" style="padding: 29px;" *ngIf="whrdd">
          <p class="maintitle">
            LEND
            <img src="../assets/2.png" class="asdsdjkh">
          </p>
          <p class="asdjhsadhU">You are lending ETH against <span class="makeBold">{{whrdd.quantity}} KG</span> of
            <span class="makeBold">{{whrdd.commodity}}</span>
            stored in a warehouse in
            <span class="makeBold">{{whrdd.location}}</span></p>
          <div class="row asssdU" style="display: flex;margin-top: 28px;">
            <div class="col-6">
              <p style="font-weight: 700;">Commodity Value</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.ethprice}} ETH (${{whrdd.price}})</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Eligible Loan Amount</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.loanamount_ETH}} ETH (${{whrdd.loanamount}})</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Interest Applicable (@0.025%)</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.interest}} ETH</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Platform Fee (@1%)</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.charges}} ETH</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex;margin-top: 20px;">
            <div class="col-6">
              <p style="font-weight: 700;">Pay</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.loanamount_ETH}} ETH</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Get (on repayment)</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.interest}} ETH</p>
            </div>
          </div>
          <p class="lendBtnInModal" *ngIf='!paused &&  0 ==loanAmount' (click)="sentEth()">LEND</p>
          <p class="lendBtnInModal" *ngIf='userAddress!=owner  && repaymentAmount >0' (click)="lenderWithdraw()">
            REPAYMENT WITHDRAWAL</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="borrow">
    <div class="modal-dialog" style="margin-top: 8%;">
      <div class="modal-content" style="border-radius: 39px;">
        <div class="modal-body asssdU" style="padding: 29px;" *ngIf="whrdd">
          <p class="maintitle">
            BORROW
            <img src="../assets/2.png" class="asdsdjkh">
          </p>
          <p class="asdjhsadhU">You are borrowing ETH against <span class="makeBold">{{whrdd.quantity}} KG</span> of
            <span class="makeBold">{{whrdd.commodity}}</span>
            stored in a warehouse in
            <span class="makeBold">{{whrdd.location}}</span></p>
          <div class="row asssdU" style="display: flex;margin-top: 28px;">
            <div class="col-6">
              <p style="font-weight: 700;">Commodity Value</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.ethprice}} ETH (${{whrdd.price}})</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Eligible Loan Amount</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.loanamount_ETH}} ETH (${{whrdd.loanamount}})</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Interest Applicable (@0.025%)</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.interest}} ETH</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Platform Fee (@1%)</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{whrdd.charges}} ETH</p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex;margin-top: 20px;"
            *ngIf='whrdd.loanamount_ETH && whrdd.interest && whrdd.charges'>
            <div class="col-6">
              <p style="font-weight: 700;">Receive</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p>{{stringToint(whrdd.loanamount_ETH) - stringToint(whrdd.interest ) - stringToint(whrdd.charges)}}ETH
              </p>
            </div>
          </div>
          <div class="row asssdU" style="display: flex">
            <div class="col-6">
              <p style="font-weight: 700;">Repayment Period</p>
            </div>
            <div class="col-6" style="text-align: left;">
              <p> {{whrdd.tenure}} Months</p>
            </div>
          </div>
          <p class="borrowBtnInModal" (click)="mint(whrdd)">BORROW</p>
          <p class="borrowBtnInModal" *ngIf='paused && userAddress==owner' (click)="borrowerWithdraw()">WITHDRAWAL</p>
          <p class="borrowBtnInModal" *ngIf='paused && userAddress==owner  && 0!=loanAmount' (click)="repaymentEth()">
            REPAYMENT</p>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="successLoan">
    <div class="modal-dialog" style="margin-top: 8%;">
      <div class="modal-content" style="border-radius: 39px;">
        <div class="modal-body asssdU" style="padding: 50px;">
          <img src="../assets/tick.png" style="width: 180px;
          margin-bottom: 20px;">
          <p>Transaction completed Successfully.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="lendingSuccess">
    <div class="modal-dialog" style="margin-top: 8%;">
      <div class="modal-content" style="border-radius: 39px;">
        <div class="modal-body asssdU" style="padding: 50px;">
          <img src="../assets/tick.png" style="width: 180px;
          margin-bottom: 20px;">
          <p>Transaction completed Successfully.</p>
          <p style="text-align: left;
          line-height: 21px;
          font-size: 14px;
          margin-top: 20px;">View the transactions<br><a href="{{tx}}" target="_blank">{{ linkToViewLending}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
